Net CLK32M LOC=P94;
Net RST_N LOC=P47;

Net XCLK LOC=P61 ;
Net CamHsync LOC=P59 ;
Net CamVsync LOC=P62 ;
Net PCLK LOC=P56 ;

Net CamData<0> LOC=P79 ;
Net CamData<1> LOC=P81 ;
Net CamData<2> LOC=P83 ;
Net CamData<3> LOC=P85 ;
Net CamData<4> LOC=P88 ;
Net CamData<5> LOC=P93 ;
Net CamData<6> LOC=P98 ;
Net CamData<7> LOC=P100 ;

Net VgaVsync LOC=P132 ;
Net VgaHsync LOC=P131 ;

Net SW0 LOC=P50;
Net SW1 LOC=P55;

Net VR<4> LOC=P117 ;
Net VR<5> LOC=P116 ;
Net VR<6> LOC=P115 ;
Net VR<7> LOC=P114 ;

Net VG<4> LOC=P121 ;
Net VG<5> LOC=P120 ;
Net VG<6> LOC=P119 ;
Net VG<7> LOC=P118 ;

Net VB<4> LOC=P127 ;
Net VB<5> LOC=P126 ;
Net VB<6> LOC=P124 ;
Net VB<7> LOC=P123 ;

Net VMOTOR_L LOC=P80;
Net VMOTOR_R LOC=P82;
Net BUZZER LOC=P87;
Net SCL LOC=P97  |PULLUP;
Net SDA LOC=P99  |PULLUP;

Net SDRAM_CAS_N LOC=P5;
Net SDRAM_CS_N LOC=P1;
Net SDRAM_CLK LOC=P32;
Net SDRAM_CKE LOC=P33;
Net SDRAM_BA<1> LOC=P142;
Net SDRAM_BA<0> LOC=P143;
Net SDRAM_DQ<15> LOC=P30;
Net SDRAM_DQ<14> LOC=P29;
Net SDRAM_DQ<13> LOC=P27;
Net SDRAM_DQ<12> LOC=P26;
Net SDRAM_DQ<11> LOC=P24;
Net SDRAM_DQ<10> LOC=P23;
Net SDRAM_DQ<9> LOC=P22;
Net SDRAM_DQ<8> LOC=P21;
Net SDRAM_DQ<7> LOC=P8;
Net SDRAM_DQ<6> LOC=P16;
Net SDRAM_DQ<5> LOC=P15;
Net SDRAM_DQ<4> LOC=P14;
Net SDRAM_DQ<3> LOC=P12;
Net SDRAM_DQ<2> LOC=P11;
Net SDRAM_DQ<1> LOC=P10;
Net SDRAM_DQ<0> LOC=P9;
Net SDRAM_DQML LOC=P7;
Net SDRAM_DQMH LOC=P17;
Net SDRAM_RAS_N LOC=P2;
Net SDRAM_WE_N LOC=P6;
#Net SDRAM_A<12> LOC=P34;
Net SDRAM_A<11> LOC=P35;
Net SDRAM_A<10> LOC=P141;
Net SDRAM_A<9> LOC=P40;
Net SDRAM_A<8> LOC=P41;
Net SDRAM_A<7> LOC=P43;
Net SDRAM_A<6> LOC=P44;
Net SDRAM_A<5> LOC=P45;
Net SDRAM_A<4> LOC=P46;
Net SDRAM_A<3> LOC=P137;
Net SDRAM_A<2> LOC=P138;
Net SDRAM_A<1> LOC=P139;
Net SDRAM_A<0> LOC=P140;

Net CARD_DAT3 LOC=P38;
Net CARD_CMD LOC=P64;
Net CARD_CLK LOC=P70;
Net CARD_DAT0 LOC=P65;

# Net TEST1 LOC=P66;

PIN "your_instance_name/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "your_instance_name/clkout3_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

NET "CLK32M" PERIOD = 33 ns;
NET "PCLK" PERIOD = 40 ns;
